<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Current</title>
  </head>
  <body>
    <div class="container">
      <h1>{{myWeather?.current_city}}</h1>
      <h1>{{myWeather?.current_country}}</h1>
      <h2>{{myWeather?.current_temp}}&deg;</h2>
      <div class="img">
        <img src="https://openweathermap.org/img/w/{{myWeather?.current_icon}}.png">
      </div>
      <h4>Min: {{myWeather?.current_temp_min}}&deg;</h4>
      <h4>Max: {{myWeather?.current_temp_max}}&deg;</h4>
      <h3>{{myWeather?.current_description}}</h3>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
      <input type="text" ngModel #city="ngModel" name="city" id="city" placeholder="Enter a city name">
      <button name="button" type ="submit" >Enter</button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
